---
const { variant = "primary", size = "small" } = Astro.props;

const buttonStyling = `bg-orange-400  hover:bg-orange-600 text-slate-100 font-bold py-2 px-4 rounded transition duration-300`;

const variantClasses = {
  primary:
    "transition ease-in-out delay-150 bg-orange-400 hover:-translate-y-1 hover:scale-100 hover:bg-orange-600 duration-300 text-white font-bold py-2 px-4 rounded animate__animated animate__fadeIn",
};

const sizeClasses = {
  small: "text-sm",
  medium: "text-md",
  large: "text-lg",
};
---

<div>
  <button class={`${buttonStyling} ${variantClasses[variant]} ${sizeClasses[size]}`}><slot /></button>
</div>
