<header class="bg-slate-100 fixed top-0 left-0 w-full z-50">
  <div x-data="{ showmenu: false }" class="p-6">
    <div id="navbar" class="flex flex-row justify-between">
      <div id="logo" class="font-bold hover:opacity-50 transition duration-300">
        <a href="#top"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path
              fill-rule="evenodd"
              d="M6.32 2.577a49.255 49.255 0 0 1 11.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 0 1-1.085.67L12 18.089l-7.165 3.583A.75.75 0 0 1 3.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93Z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <nav id="desktopmenu" class="hidden lg:block">
        <ul class="flex flex-row gap-4">
          <li class="hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline"><a href="#top">Toppen</a></li>
          <li class="hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline">
            <a href="#chapters">Bogens kapitler</a>
          </li>
          <li class="hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline"><a href="#reviews">Anmeldelser</a></li>
          <li class="hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline">
            <a href="#images_from_the_book">Billeder fra bogen</a>
          </li>
          <li class="hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline"><a href="#author">Forfatteren</a></li>
          <li class="hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline"><a href="#buy">Køb nu</a></li>
        </ul>
      </nav>
      <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="hover:text-orange-700 transition duration-300 size-6"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <nav
      id="mobilmenu"
      class="flex flex-col content-center pt-4"
      x-show="showmenu"
      x-transition
      x-on:click="showmenu = false"
      x-on:click.outside="showmenu = false"
    >
      <ul>
        <li class="text-center py-2 border-y-2 hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline">
          <a href="#top">Toppen</a>
        </li>
        <li class="text-center py-2 border-b-2 hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline">
          <a href="#chapters">Bogens kapitler</a>
        </li>
        <li class="text-center py-2 border-b-2 hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline">
          <a href="#reviews">Anmeldelser</a>
        </li>
        <li class="text-center py-2 border-b-2 hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline">
          <a href="#images_from_the_book">Billeder fra bogen</a>
        </li>
        <li class="text-center py-2 border-b-2 hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline">
          <a href="#author">Forfatteren</a>
        </li>
        <li class="text-center py-2 hover:text-orange-700 hover:-translate-y-1 hover:scale-100 duration-300 hover:underline">
          <a href="#buy">Køb nu</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- Add this CSS to push the content below the header -->
<style>
  body {
    padding-top: 80px; /* Adjust this value based on the height of your header */
  }
</style>
